<div class="text-center">
    <h1 class="display-4">База данных</h1>
    <div class="mt-4">
        <a asp-controller="Planets" asp-action="Index" class="btn btn-primary mx-2">Планеты</a>
        <a asp-controller="Constellations" asp-action="Index" class="btn btn-primary mx-2">Созвездия</a>
        <a asp-controller="Stars" asp-action="Index" class="btn btn-primary mx-2">Звёзды</a>
    </div>
</div>